<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="templates/style.css">
        <title>
            Movie recommender
        </title>
    </head>
    <body>
        <h2>
        Let's find out your next movie!
        </h2>
        <p>
            <form action="/recommendations" method="post">
                What's your favorite Movie: <input type="text" name="favorite_movie" />
                                <input type="submit" name= "form" value="Submit" />

            </form>
        </p>
    </body>
</html>

